@import "variables";
@import "generales";

.mobile-menu {
  background-color: $white;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 24px;
  ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  li {
    margin-bottom: 24px;
  }
  a {
    text-decoration: none;
    color: $black;
    font-weight: bold;
  }
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}
