@import "variables";
@import "generales";
@import "navbar";
@import "desktop";
@import "mobile";
@import "title" ;
@import "shopping";
  
  /* Aside (product detail y carrito) */
  aside {
    background-color:$white;
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
  }
  
  /* ShoppingCart */
  
  .primary-button {
    background-color:$hospital-green;
    border-radius: 8px;
    border: none;
    color: $white;
    width: 100%;
    cursor: pointer;
    font-size:$md;
    font-weight: bold;
    height: 50px;
  }
  
  /* ProductDetail */
  .product-detail-close {
    background:$white;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  #productDetail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
  #productDetail .product-info {
    margin: 24px 24px 0 24px;
  }
  #productDetail .product-info p:nth-child(1) {
    font-weight: bold;
    font-size:$md;
    margin-top: 0;
    margin-bottom: 4px;
  }
  #productDetail .product-info p:nth-child(2) {
    color:$very-light-pink;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  #productDetail .product-info p:nth-child(3) {
    color:$very-light-pink;
    font-size:$sm;
    margin-top: 0;
    margin-bottom: 36px;
  }
  .primary-button {
    background-color:$hospital-green;
    border-radius: 8px;
    border: none;
    color:$white;
    width: 100%;
    cursor: pointer;
    font-size:$sm;
    font-weight: bold;
    height: 50px;
  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Product List */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
  }
  .product-card {
    width: 240px;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-card .product-info figure {
    margin: 0;
  }
  .product-card .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size:$md;
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-card .product-info div p:nth-child(2) {
    font-size:$sm;
    margin-top: 0;
    margin-bottom: 0;
    color:$very-light-pink;
  }
  
  /* Formulario*/
  .contact {
    text-align: center;
  }
  
  /* Footer */
  .pie-pagina {
    width: 100%;
    background-color: #749fc5;
  }
  
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }
  
  .pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  
  .pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
  }
  
  .pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
  
  
  @media (max-width: 640px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    .desktop-menu {
      display: none;
    }
  
    aside {
      width: 100%;
    }
  
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 140px;
    }
    .product-card img {
      width: 140px;
      height: 140px;
    }
  }
  
  @media (min-width: 641px) {
    .mobile-menu {
      display: none;
    }
    @media screen and (max-width:800px) {
      .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
      }
    }
  }